$color-main: #065BEA;
$color-main-darken: #0A4AB6;
$color-secondary: #C6D0E0;
$color-light-text: #75777A;
$color-dark-text: #333333;
$color-border: #E0E5E9;
$color-white: #ffffff;
$color-button-hover: #0451D2;
$color-warning: #FF4B26;
$color-success: #6FCF97;
