@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import './vars';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 140%;
  color: $color-dark-text;
}

input, button {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $color-main;

  &:hover {
    color: $color-main-darken;
  }
}

#root {
  height: 100%;
}
