@import '../../styles/_vars.scss';

.slider {
  background-color: $color-main;
  width: 57.15%;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: $color-white;

  &::before,
  &::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  &::before {
    background: url('../../assets/images/slider_bg_2.svg') top left no-repeat;
    background-size: 100%;
  }

  &::after {
    background: url('../../assets/images/slider_bg_1.svg') bottom right no-repeat;
    background-size: 81%;
  }

  &__slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__image {
    max-width: 64%;
    margin-bottom: 70px;
    margin-top: 116px;
    -webkit-box-shadow: 0px 50px 50px 15px rgba(0,46,123,0.6); 
    box-shadow: 0px 50px 50px 15px rgba(0,46,123,0.6);
  }

  &__title {
    margin-bottom: 4px;
    opacity: 0.9;
  }

  &__description {
    margin-bottom: 108px;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 25px;
  }
  
  .swiper-pagination-bullet {
    opacity: 0.4;
    background-color: $color-white;
    position: relative;
    transition: opacity 0.2s linear;

    &::after {
      content: '';
      position: absolute;
      width: 14px;
      height: 14px;
      top: -3px;
      left: -3px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
  
  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: $color-white;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 22px;
  }
}






